<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Listagem de Pinterests</h2>

            <%= link_to "Adicionar Pinterest", new_pinterest_path, class: "btn btn-primary" %> <br>

            <%= render 'alerts/messages', object: @pinterest %> <br>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><%= t("activerecord.attributes.pinterest.id") %></th>
                        <th><%= t("activerecord.attributes.pinterest.description") %></th>
                        <th width="160">Ações</th>
                    </tr>
                    <% if @pinterests.present? %>
                        <%= render @pinterests %>
                    <% else %>
                        <tr class="text-center">
                            <td colspan="4">Nenhum registro encontrado</td>
                        </tr>                        
                    <% end %>
                </thead>
            </table>
        </div>
    </div>
</div>